<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock title %} - blog_rs</title>
		<meta name="description" content="This is a blog web application written in Rust by sakamuuy">
		<meta name="keywords" content="">
	</head>
	<body>
    <div id="content">{% block content %}{% endblock content %}</div>
	</body>
</html>
