{% extends "base.html.tera" %}
{% block title %}Index{% endblock title %}
{% block content %}
		<ol>
			{% for article in articles %}
				<li><a href="/article/{{article.id}}">{{article.title}}</a></li>
			{% endfor %}
		</ol>
{% endblock content %}

